<!doctype html>
<html>
 <head>
 <title>Predictor Form</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>
 <body>
	<form action = "/resultsform" method = "POST">
        <p>Frecuencia de actividad deportiva <input type = "text" name = "euexfreq" id = "euexfreq"/></p>
		<p>Principal motivo de compra en el lugar al que acude <input type = "text" name = "eustreason" id = "eustreason"/></p>
		<p>Percepción personal del estado de salud general <input type = "text" name = "eugenhth" id = "eugenhth"/></p>
		<p>Tiempo dedicado a los alimentos <input type = "text" name = "ertseat" /></p>
		<p>Frecuencia semanal de ingesta de comida rápida <input type = "text" name = "eufastfdfrq" /></p>
		<button type = "submit">Enviar</button>
    </form>
 </body>
</html>